.red-fieldset {
    border-color: var(--hover-blue);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    margin: 5px;
    width: 100px;
    height: 35px;
    cursor: text;
}

.red-legend {
    color: var(--text-blue);
    font-size: 15px;
    margin-left: 3px;
}

.transparent-input {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    width: 90px;
    height: 20px;
}

.button-fixed {
    width: 80px !important;
    height: 20px !important;
    font-size: 15px !important;
    margin: 5px !important;
    padding: 5px !important;
    border-radius: 10px !important;
}

.big-fieldset {
    margin: 7px !important;
}

.big-input {
    width: 250px !important;
    height: 20px !important;
    font-size: 13px !important;
}

.big-legend {
    font-size: 18px !important;
}

#controlled-form,
#controlled-search {
    background-color: var(--text-white);
    border-radius: 20px;
    margin: 10px;
    height: 235px;
    width: 150px;
    padding: 7px;
    border: solid 2px var(--text-black);
    box-shadow: var(--shadow-blue) 3px 5px;
}

#controlled-search {
    height: 105px !important;
}

.add-button {
    text-align: center;
    font-size: 15px;
    font-family: dark;
    margin: 0.5vw;
    padding: 0.6vw;
    border-radius: 0.8vw;
    color: var(--hover-blue);
    border: solid 2px var(--text-black);
    cursor: pointer;
    box-shadow: var(--text-grey) 3px 4px;
}

.add-button:hover {
    color: var(--text-white);
    background-color: var(--hover-blue);
}

#detalhes-email {
    margin: 0;
    margin-top: 1vw;
}

#list-picker {
    font-family: light, sans-serif !important;
    width: 170px !important;
    height: 40px !important;
    font-size: 15px !important;
    padding: 5px !important;
    box-shadow: var(--shadow-blue) 3px 5px !important;
    outline: none;
}