.red-fieldset {
    border-color: var(--hover-blue);
    border-radius: 0.8vw;
    border-style: solid;
    margin: 0.5vw;
    cursor: pointer;
}

.red-legend {
    color: var(--text-blue);
    font-size: 1vw;
    margin-left: 0.5vw;
}

.transparent-input {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    width: 8vw;
}

.big-fieldset {
    margin: 0.7vw;
}

.big-input {
    width: 20vw;
    height: 2vw;
    font-size: 1.1vw;
}

.big-legend {
    font-size: 1.2vw;
}

#controlled-form,
#controlled-search {
    background-color: var(--text-white);
    border-radius: 2vw;
    margin: 1vw;
    padding: 0.7vw;
    border: solid 0.2vw var(--text-black);
    box-shadow: var(--shadow-blue) 0.2vw 0.4vw;
}

.add-button {
    text-align: center;
    font-size: 1.2vw;
    font-family: dark;
    margin: 0.5vw;
    padding: 0.6vw;
    border-radius: 0.8vw;
    color: var(--hover-blue);
    border: solid 0.15vw var(--text-black);
    cursor: pointer;
    box-shadow: var(--text-grey) 0.3vw 0.3vw;
}

.add-button:hover {
    color: var(--text-white);
    background-color: var(--hover-blue);
}

#detalhes-email {
    margin: 0;
    margin-top: 1vw;
}

#list-picker {
    font-family: light, sans-serif !important;
    width: 13vw !important;
    font-size: 1vw !important;
    padding: 0.5vw !important;
    outline: none;
}