.black-background {
    position: fixed;
    width: calc(100vw - 200px);
    height: 100vh;
    background-color: var(--transparent-black);
    z-index: 50;
}

#account-list {
    padding-top: 1vw;
}

#nav-bar {
    position: fixed;
    right: 0;
    width: 200px;
    min-height: 100vh;
    background-color: var(--text-blue);
    border-left: solid 0.2vw var(--text-black);
}

#email-info {
    position: fixed;
    top: 20px;
    left: 20px;
    min-width: 320px;
    padding-bottom: 10px;
    border: solid 2px var(--text-black);
    border-radius: 20px;
    background-color: var(--text-white);
}

#detalhes-email {
    font-size: 20px;
}
