.td-space-before::before {
    content: "";
    margin-right: 0.5vw;
}

.td-space-after::after {
    content: "";
    margin-left: 0.5vw;
}

/******************************/

.brd-bot {
    border-bottom: solid 0.1vw var(--text-black);
}

.brd-right {
    border-right: solid 0.1vw var(--text-black);
}

.brd-round {
    border: solid 0.1vw var(--text-blue);
    border-radius: 0.5vw;
    padding: 0.3vw;
}

/******************************/

.font-info {
    font-family: sans-serif;
}

/******************************/

#account {
    margin: 1vw;
    margin-bottom: 0.2vw;
    margin-top: 0.2vw;
    cursor: pointer;
}

#account:hover {
    border-color: var(--text-black);
    background-color: var(--hover-blue);
}

#account-list {
    width: calc(98vw - 200px);
    height: 100%;
}

#nav-button, #list-picker {
    font-family: dark, sans-serif;
    width: 160px;
    height: 30px;
    font-size: 15px;
    box-shadow: var(--shadow-blue) 3px 5px !important;
    border-radius: 10px;
    margin: 5px;
    color: var(--hover-blue);
    border: solid 2px black;
    background-color: var(--text-white);
    cursor: pointer;
}

#nav-button:hover {
    color: var(--text-white);
    background-color: var(--hover-blue);
}
