:root {
    --text-black: black;
    --text-white: white;
    --text-grey: #888888;
    --text-blue: #0d80c2;

    --shadow-blue: #0e4e74;
    --hover-blue: #5faedb;

    --transparent: rgba(255, 255, 255, 0.9);
    --transparent-black: rgba(0, 0, 0, 0.8);
}

@font-face {
    font-family: light;
    src: url(light.woff);
}

@font-face {
    font-family: dark;
    src: url(bold.woff);
}

body {
    font-family: light, sans-serif;
    background-image: url(https://i.imgur.com/MOusKYj.jpg);
    background-repeat: repeat-y;
    background-size: contain;
    user-select: none;
}

input::placeholder, textarea::placeholder {
    font-family: light, sans-serif;
    font-size: 0.9vw;
}

input, textarea {
    font-family: light, sans-serif;
    font-size: 0.9vw;
    padding: 0.2vw;
    padding-top: 0.1vw;
}

input {
    height: 1.5vw;
    width: 8vw;
}

h1 {
    font-size: 2vw;
}

.dis-flex,
.dis-flex-col,
.dis-flex-align,
.dis-flex-justify {
    display: flex;
}

.dis-flex-col {
    flex-direction: column;
}

.dis-flex-align {
    align-items: center;
}

.dis-flex-justify {
    justify-content: center;
}

/******************************/

.text-xs {
    font-size: 1vw;
}

.text-sm {
    font-size: 1.2vw;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/******************************/

.he-2 {
    height: 2vw;
}

/******************************/

.td-3 {
    width: 33.33%;
}

/******************************/

#app {
    width: 100%;
    min-height: 100vh;
    background-color: var(--transparent);
}
